{% extends 'base.html' %}
{% block titulo %}
<title>LA PÂTISSERIE DOUCE TENTATION - CAMBIA TU PASSWORD</title>
{% endblock titulo %}
{% block contenidoQueCambia %}
<div class="container my-8">
    <br>
    {% if form.error %}
    <p>ERROR, LLENA DE NUEVO LOS CAMPOS</p>
    {% endif %}
    <form action={% url 'usuarios:cambio_password' %} method="post">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Cambiar tu constraseña</button>
    </form>
    <a class="btn btn-secondary btn-sm" href={% url 'recetas:home' %} role="submit">Atras</a>
</div>
{% endblock contenidoQueCambia %}